.product-list-cnt {
    .product-list {
        padding: 20px 0px;
        border-bottom: 1px solid #ccc;

        img {
            max-width: 100%;
        }
    }
}
  
.product-pagination {
    margin-top: 20px;
}
  